<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 该包下会自动识别别名 -->
    <typeAliases>
        <package name="com.hzy.pojo"/>
    </typeAliases>

    <!-- 绑定BookMapper.xml到该配置文件中 -->
    <mappers>
        <mapper resource="BookMapper.xml"/>
    </mappers>

</configuration>